* {margin: 0; padding: 0;}
.container {
	background-color: #789;
	height: 100vh;
	padding-top: 100px;
}
.btn-wrapper {
	text-align: center;
	width:  800px;
	margin: 0 auto;
}
.btn {
	padding:  20px 50px;
	color:  black;
	font-size: 20px;
	border-radius: 50px;
	background-image: url(https://interactive-examples.mdn.mozilla.net/media/examples/star.png);
	border: none;
	box-shadow: 0 4px 2px rgba(0, 0, 255, .3);
	background-position: right;
	background-repeat: no-repeat;
	background-color:  #76a5a4;
	color:  #fff;
	font-weight: bold;
	transition: all .2s;
}
.btn:hover {
	background-color: blue;
	cursor: pointer;
	background-position: left;
	text-shadow: 0 2px 2px black;
}
